<div style="width:90%;margin:auto;background-color: gray;height: 25vw;min-height:310px;margin-top: 40px!important;">
    <img src="https://cdn.pixabay.com/photo/2017/01/30/02/20/mental-health-2019924_960_720.jpg" height="100%" width="90%" alt="">
</div>
<div class="flex-row">
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2021/08/21/12/41/fear-6562668_960_720.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conditions</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="conditions" class="btn btn-primary">Conditions Page</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2016/12/07/09/32/fax-1889031_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crisis</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="crisis" class="btn btn-primary">Crisis Page</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2015/11/02/12/31/interview-1018332_960_720.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Councelling</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="councelling" class="btn btn-primary">Councelling Page</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/01/31/22/32/doctor-2027768_960_720.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Professionals</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="professional" class="btn btn-primary">Professionals Page</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2018/03/21/06/30/community-3245739_960_720.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Support Group</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a routerLink="group" class="btn btn-primary">Support Group's Page</a>
        </div>
      </div>

</div>
<!-- <li class="navbar-nav mr-auto"><a class="nav-link" routerLink="">Home</a></li>
<li class="navbar-nav mr-auto"><a class="nav-link" routerLink="conditions">Conditions</a></li>
<li class="navbar-nav mr-auto"><a class="nav-link" routerLink="crisis">Crisis</a></li>
 <li class="navbar-nav mr-auto"><a class="nav-link" routerLink="professional">Professional</a></li>
  <li class="navbar-nav mr-auto"><a class="nav-link" routerLink="councelling">Councelling</a></li> 
  <li class="navbar-nav mr-auto"><a class="nav-link" routerLink="group">Group</a></li> -->
  