
<div class="container-main">
    <h2>Councelling and Therapy</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">Counselling and therapy can be helpful for dealing with a wide variety of issues (e.g. stress
                and coping, relationship problems) and mental health conditions (e.g. depression, anxiety, etc.) We offer
                effective psychotherapy for your problems. We are Registered Psychotherapists, Psychologists, Psychological
                Associates, and Social Workers. </p>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">First we listen – carefully. </li>
<li class="list-group-item list-group-item-light">Then we find a way to help you move forward. </li>
<li class="list-group-item list-group-item-light">We adapt our therapies to fit you (counselling services): cognitive (CBT),
     solution-focused, mindfulness, psychodynamic, meaning-centred, and others. </li>
<li class="list-group-item list-group-item-light">We will match you with a therapist to focus on where you need help.</li>
<li class="list-group-item list-group-item-light">Easy – No Travel Hassle, No Waiting Room!</li>
<li class="list-group-item list-group-item-light">Flexible – Weekend and Evening Options! Connect Anywhere in the Province!</li>
<li class="list-group-item list-group-item-light">Effective – Focused on Resolving Your Pain!</li>
    </ul>
* 99.9% of sessions by video therapy in Ontario. 

</div>
