<div class="container-main">
    <h2>Support Groups</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">Self-help, mutual aid and support groups are non-profit, voluntary organizations which
                provide support to individuals who share a common experience. As defined by the International Network
                of Mutual Help centres, self-help groups are non-profit; open to members of the general public who share
                a common experience; meet face-to-face on a regular, ongoing basis, and are open to new members; provide
                mutual support through discussion and sharing of information and experiences. Members use their
                individual strengths to support each other and can use their collective strengths to promote social
                change; Run by and for group members. Although professional (health care) providers may participate at
                the request of the group, their role stays that of a consultant. </p>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Acquired Immune Deficiency Syndrome (AIDS)</li>
        <li class="list-group-item list-group-item-primary">Addictions (including Drugs, Alcohol and Gambling)</li>
        <li class="list-group-item list-group-item-light">Anger</li>
        <li class="list-group-item list-group-item-dark">Antisocial Personality Disorder (ASPD), Psychopathy, and Conduct Disorder</li>
        <li class="list-group-item list-group-item-light">Asperger Syndrome</li>
        <li class="list-group-item list-group-item-dark">Attention Deficit Disorders (ADD/ADHD)</li>
        <li class="list-group-item list-group-item-light">Autism and Autism Spectrum Disorders</li>
        <li class="list-group-item list-group-item-dark">Behaviour and Conduct Problems</li>
        <li class="list-group-item list-group-item-light">Bipolar Disorders</li>
        <li class="list-group-item list-group-item-dark">Dementia including Alzheimer's</li>
        <li class="list-group-item list-group-item-light">Depression</li>
        <li class="list-group-item list-group-item-dark">Domestic Violence</li>
        <li class="list-group-item list-group-item-light">Down syndrome</li>
        <li class="list-group-item list-group-item-dark">Gender Identity Issues</li>
        <li class="list-group-item list-group-item-light">rief and Bereavement</li>
        <li class="list-group-item list-group-item-dark">Mental Health in General</li>
        <li class="list-group-item list-group-item-light">Mood Disorders</li>
        <li class="list-group-item list-group-item-dark">Obsessive Compulsive Disorder (OCD)</li>
        <li class="list-group-item list-group-item-light">Pandemic (e.g. COVID/Coronavirus), Disasters and Related Emergencies</li>
        <li class="list-group-item list-group-item-dark">Post-Traumatic Stress Disorder (PTSD), Trauma and Abuse</li>
        <li class="list-group-item list-group-item-light">Schizophrenia and Psychosis</li>
        <li class="list-group-item list-group-item-dark">Self-harm including Self-cutting</li>
        <li class="list-group-item list-group-item-light">Separation and Divorce</li>
        <li class="list-group-item list-group-item-dark">Stress</li>
        <li class="list-group-item list-group-item-light">Suicide</li>
     </ul>

</div>