<div class="container-main">
    <h2>Crisis and Emergency</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">Are you in a crisis? Crisis lines offer free, immediate and confidential one-on-one
                assistance to callers in need and usually operate 24 hours a day, 7 days a week. They are generally
                staffed by either paid professionals, or trained volunteers. They will listen, offer support and advice,
                and if necessary, will try to help the caller get connected to help in his/her community.  </p>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Distress Centers of North America – Southeast, South Park, Charlotte, North Carolina, 28217, USA </li>
        <li class="list-group-item list-group-item-light">Distress Centers of North America – Northeast, Vesey Street, New York, 10007, USA </li>
        <li class="list-group-item list-group-item-light">Distress Centers of North America - West, Morena Blvd, San Diego, California, 92110, USA </li>
        <li class="list-group-item list-group-item-light">Distress Centers of North America - Northwest, Evanston Avenue, Seattle, WA 98103, USA</li>
    </ul>
    * 99.9% of sessions by video therapy in Ontario.

</div>