
<div class="container-main">
    <h2>Mental Health Conditions and Topics</h2>
<ul class="list-group">
<li class="list-group-item list-group-item-light">Acquired Immune Deficiency Syndrome (AIDS)</li>
<li class="list-group-item list-group-item-primary">Addictions (including Drugs, Alcohol and Gambling)</li>
<li class="list-group-item list-group-item-light">Anger</li>
<li class="list-group-item list-group-item-dark">Antisocial Personality Disorder (ASPD), Psychopathy, and Conduct Disorder</li>
<li class="list-group-item list-group-item-light">Asperger Syndrome</li>
<li class="list-group-item list-group-item-dark">Attention Deficit Disorders (ADD/ADHD)</li>
<li class="list-group-item list-group-item-light">Autism and Autism Spectrum Disorders</li>
<li class="list-group-item list-group-item-dark">Behaviour and Conduct Problems</li>
<li class="list-group-item list-group-item-light">Bipolar Disorders</li>
<li class="list-group-item list-group-item-dark">Dementia including Alzheimer's</li>
<li class="list-group-item list-group-item-light">Depression</li>
<li class="list-group-item list-group-item-dark">Domestic Violence</li>
<li class="list-group-item list-group-item-light">Down syndrome</li>
<li class="list-group-item list-group-item-dark">Gender Identity Issues</li>
<li class="list-group-item list-group-item-light">rief and Bereavement</li>
<li class="list-group-item list-group-item-dark">Mental Health in General</li>
<li class="list-group-item list-group-item-light">Mood Disorders</li>
<li class="list-group-item list-group-item-dark">Obsessive Compulsive Disorder (OCD)</li>
<li class="list-group-item list-group-item-light">Pandemic (e.g. COVID/Coronavirus), Disasters and Related Emergencies</li>
<li class="list-group-item list-group-item-dark">Post-Traumatic Stress Disorder (PTSD), Trauma and Abuse</li>
<li class="list-group-item list-group-item-light">Schizophrenia and Psychosis</li>
<li class="list-group-item list-group-item-dark">Self-harm including Self-cutting</li>
<li class="list-group-item list-group-item-light">Separation and Divorce</li>
<li class="list-group-item list-group-item-dark">Stress</li>
<li class="list-group-item list-group-item-light">Suicide</li>
</ul>
</div>
